<app-promise></app-promise>
<!-- <ul class="nav">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="faculty">Active</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="routing1">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="routing2">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link " href="">Disabled</a>
  </li>
</ul> -->
<div class="container-sm">
  <!-- <app-student-list></app-student-list> -->
  <!-- <app-student-details></app-student-details> -->

  <!-- <app-bind (childInfo)="msg=$event" [fromParent] = "parentMsg"></app-bind> 
<h1>{{msg}}</h1> -->
  <!-- <app-profile (childInfo)="msg=$event" [fromParent] = "parentMsg"></app-profile>
<h1>{{msg}}</h1> -->

  <!-- <app-test></app-test>  -->
  <!-- <button (click)="getName()">Click Here</button>
<nav>
    <a routerLink="profile" >Profile</a><br />
    <a routerLink="test">Test</a>
</nav> -->

  <!-- <nav>
    <a routerLink="/routing1" routerLinkActive="Active">Routing-1</a><br><br>
    <a routerLink="/routing2" routerLinkActive="Active">Routing-2</a>
</nav> -->
  <router-outlet></router-outlet>
</div>

